.modal-content {
    z-index: 1000;
    margin: 0 auto;
    background-color: lightblue;
}
#myPopover {
    text-align: center;
}
/* #reviewForm {
    background-color: blue
} */

#prof{
    margin-bottom: 5vh;
}