#format {
    width: 40vh;
    margin-bottom: 2vh;
    margin: auto;
}

Button {
    max-width: 40vh;
    margin-bottom: 2vh;
    margin: auto;
}

Card {
    width: 80vh;
    margin: auto;
    text-align: center;
}
.messageClass {
    width: 90%;
    background-color: rgb(89, 136, 194);
    margin: 5px auto;
    padding: 10px;
    font-size: 30px
    /* margin: 5px */
}
#exampleText1, #exampleEmail {
    background-color: rgb(248, 246, 243);
    width: 90%;
    margin: 0 auto

}
#format {
    margin: 5px auto
}
#mess {
    width: 90%;
    margin: 0 auto;
}
#Popover1 {
    margin: 0 auto;
}